# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug/

cmake-build-release/

\.vs/f2src/v15/

\.vs/

build/

CMakeFiles/3\.10\.2/

Win32/Debug/ZERO_CHECK/ZERO_CHECK\.tlog/

*.tlog

ALL_BUILD\.vcxproj

ALL_BUILD\.vcxproj\.filters

cmake_install\.cmake

CMakeCache\.txt

CMakeFiles/a433d4117bca13bdd4be488d9e5199d9/generate\.stamp\.rule

CMakeFiles/cmake\.check_cache

CMakeFiles/CMakeOutput\.log

CMakeFiles/feature_tests\.bin

CMakeFiles/feature_tests\.cxx

CMakeFiles/generate\.stamp

CMakeFiles/generate\.stamp\.depend

CMakeFiles/generate\.stamp\.list

CMakeFiles/TargetDirectories\.txt

Debug/f2src\.exp

Debug/f2src\.ilk

Debug/f2src\.pdb

f2src\.dir/Debug/f2src\.log

f2src\.dir/Debug/vc141\.pdb

f2src\.sln

f2src\.vcxproj

f2src\.vcxproj\.filters

tests/CMakeFiles/generate\.stamp

tests/CMakeFiles/generate\.stamp\.depend

tests/Debug/

tests/test_f2src\.dir/Debug/test_f2src\.log

tests/test_f2src\.dir/Debug/vc141\.pdb

tests/test_f2src\.sln

tests/test_f2src\.vcxproj

tests/test_f2src\.vcxproj\.filters

Win32/Debug/ZERO_CHECK/ZERO_CHECK\.log

ZERO_CHECK\.vcxproj

ZERO_CHECK\.vcxproj\.filters

tests/CMakeFiles/test_f2src\.dir/

CMakeFiles/f2src\.dir/

CMakeFiles/3\.11\.4/

CMakeFiles/CMakeDirectoryInformation\.cmake

CMakeFiles/feature_tests\.c

CMakeFiles/Makefile\.cmake

CMakeFiles/Makefile2

CMakeFiles/progress\.marks

Makefile

tests/CMakeFiles/CMakeDirectoryInformation\.cmake

tests/CMakeFiles/progress\.marks

files\.h

files_mapper\.h

CMakeFiles/3\.10\.3/

*.cbp

test_files/sprites/players/luigi_mapper\.h

test_files/sprites/players/luigi\.h

AssetGeneratorConfig\.h

cmake-build-relwithdebinfo/tests/CMakeFiles/

cmake-build-relwithdebinfo/CMakeFiles/

\.DS_Store
